registry=https://alm-animaeducacao.pkgs.visualstudio.com/_packaging/animacore/npm/registry/
always-auth=true
; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 02/04/2019.
; begin auth token
//alm-animaeducacao.pkgs.visualstudio.com/_packaging/animacore/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiJjYTBmNThjZC1lYWM5LTYwN2QtYmJlOS1iZDQwZmFmZGRlNWIiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiNjZkMGVjMGEtNjAwMS00YzhiLTkyNjMtMDE5NGU5YzllOThjIiwic2lkIjoiYjVjMDZhMmEtOGRmMC00MDcxLWEyYTgtMTdmNjBkYTY5Y2YyIiwiaXNzIjoiYXBwLnZzdG9rZW4udmlzdWFsc3R1ZGlvLmNvbSIsImF1ZCI6ImFwcC52c3Rva2VuLnZpc3VhbHN0dWRpby5jb218dnNvOjdiZTg4NDkxLTJjMjQtNDRkYS04Y2E0LWUxY2Y2YWMzMTA3NSIsIm5iZiI6MTU0NjQzODkxMywiZXhwIjoxNTU0MjE1NTEzfQ.0l-X58pSuYjrwgYbhWAxVgDC_PJEW1ubce-4MJJaukZpQc4CGqcIti3UOSbvva6F2bk7fQ_DTcm5J7Bv4qLCIjE6uudiPEKBJ9eHFK9gKELQABkS9dYRKmJdmrsiynQsYj6vt-tsGX-1UFcomsSAkrlCS_8DdfglFtjFyrRyzqayrUJbvwxZBcadZxQQl3a9V8fQeAhWEVz4oA47I9INyeC9BXHF-o2QzB8TUW8VwTm0UaPikO5L4hlYKY3RvMAKlRMOYK6gb9e7Q_gPlER2yFpIdNb9XakEa8gJHjFFMV6pwjhnxX-A2XGi94NsBLPxO29VKXPWs16V80d9w2BvVg
//alm-animaeducacao.pkgs.visualstudio.com/_packaging/animacore/npm/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiJjYTBmNThjZC1lYWM5LTYwN2QtYmJlOS1iZDQwZmFmZGRlNWIiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiNjZkMGVjMGEtNjAwMS00YzhiLTkyNjMtMDE5NGU5YzllOThjIiwic2lkIjoiYjVjMDZhMmEtOGRmMC00MDcxLWEyYTgtMTdmNjBkYTY5Y2YyIiwiaXNzIjoiYXBwLnZzdG9rZW4udmlzdWFsc3R1ZGlvLmNvbSIsImF1ZCI6ImFwcC52c3Rva2VuLnZpc3VhbHN0dWRpby5jb218dnNvOjdiZTg4NDkxLTJjMjQtNDRkYS04Y2E0LWUxY2Y2YWMzMTA3NSIsIm5iZiI6MTU0NjQzODkxMywiZXhwIjoxNTU0MjE1NTEzfQ.0l-X58pSuYjrwgYbhWAxVgDC_PJEW1ubce-4MJJaukZpQc4CGqcIti3UOSbvva6F2bk7fQ_DTcm5J7Bv4qLCIjE6uudiPEKBJ9eHFK9gKELQABkS9dYRKmJdmrsiynQsYj6vt-tsGX-1UFcomsSAkrlCS_8DdfglFtjFyrRyzqayrUJbvwxZBcadZxQQl3a9V8fQeAhWEVz4oA47I9INyeC9BXHF-o2QzB8TUW8VwTm0UaPikO5L4hlYKY3RvMAKlRMOYK6gb9e7Q_gPlER2yFpIdNb9XakEa8gJHjFFMV6pwjhnxX-A2XGi94NsBLPxO29VKXPWs16V80d9w2BvVg
; end auth token