breakpoint-dispositivo-medio = 960px
breakpoint-dispositivo-pequeno = 600px

dispositivo-pequeno = "(max-width: %s)" % breakpoint-dispositivo-pequeno
dispositivo-medio = "(max-width: %s) and (min-width: %s)" % (breakpoint-dispositivo-medio breakpoint-dispositivo-pequeno)
dispositivo-grande = "(min-width: %s)" % breakpoint-dispositivo-medio

tamanho-toolbar-dispositivo-pequeno = 60px
tamanho-toolbar-dispositivo-medio = 52px
tamanho-toolbar-dispositivo-grande = 68px